.mainDiv {
    margin: auto;
    margin-top: 2.5rem;
    width: 70%;
    display: flex;
    justify-content:space-between;

  }
  
  .mainDiv > p {
    width: 50%;
    text-align: center;
    margin: auto;
  }
  
  /* ------------------- */
  .mainContainer {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    gap: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    cursor: pointer;
  }
  
  .mainContainer > div {
    width: 100%;
  }
  
  .img {
margin-top: 50px;
margin-left: 30px;
  }
  
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
  }
  