
tbody,td{
    font-weight:500;
    font-family:sans-serif;
   }
   
   
   .list{
       color:white;
       opacity: 60%;
       font-size: 30px;
   }
   .list:hover{
   /* background-color: blue; */
   color: white;
   opacity: 100%;
   font-size: 40px;
   }